#ul{
    position: relative;
    list-style: none;
   
}
#ul li{
    vertical-align:top;
    margin: 0;
    padding: 0;
    position: absolute;
    transition: all 1s;
}
#ul li img{
box-shadow: 0 0 5px rgba(105,105,105,0.49);
-webkit-box-shadow: 0 0 5px rgba(105,105,105,0.49);
border: 8px solid #fff;
width: 320px;
/* height: 100%; */

}

#ul li.checked{
    left: 50% !important;
    top: 430px !important;
    transform: rotate(0deg) translate(-50%,-50%) scale(1.5,1.5) !important;
    z-index: 99 !important;
    /* box-shadow: 5px 5px 20px 20px rgb(179, 176, 176); */
    
}
.checked img{
    width: 70% !important;
    border: 13px solid #fff !important;
}
@media screen and (max-width:768px) {
    .checked img{
        width: 70%;
        border: 13px solid #fff !important;
    }
}